.counter-box{
    width: 250px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border-radius: 15px; 
    background-color: violet;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.counter-number{
    font-size: 26px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.counter-btn{
    padding: 10px 20px;
    background: purple;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    cursor: pointer;
    transform: 0.3s;
}
.counter-btn:hover{
    background-color: #a248c2;
    transform: scale(1.05);
}